.create-section {
  background-color: var(--blueviolet-clr);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-container {
  width: 40%;
  padding: 20px 40px 30px 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--gray-clr);
  background-color: var(--white-clr);
}
.create-container h1 {
  text-align: center;
}
.input-container {
  margin-bottom: 20px;
}
.input-container label {
  display: block;
  margin-bottom: 8px;
  color: var(--gray-clr);
}
.input-container input {
  width: 100%;
  border: 1px solid var(--gray-clr);
  border-radius: 10px;
  height: 50px;
  padding-left: 20px;
  font-size: 20px;
}
.create-container button {
  width: 100%;
  background-color: var(--blueviolet-clr);
  color: var(--white-clr);
  font-size: 22px;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.create-container button:hover {
  opacity: 0.8;
}
.create-container button:disabled {
  opacity: 0.3;
}
.create-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.create-container .header .line {
  width: 30%;
  background-color: var(--blueviolet-clr);
  height: 1px;
}
a.arrow i {
  color: var(--white-clr);
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
@media screen and (max-width: 1450px) {
  .create-container {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .create-container {
    width: 98%;
    box-shadow: none;
  }
  .create-section {
    background-color: var(--white-clr);
  }
}
